<h4 class="alert alert-warning" *ngIf="errorMsg">{{errorMsg}}</h4>

<div class="container-fluid" *ngIf="!errorMsg">
  <h5 class="mt-3">
    {{"Employee-details " |uppercase}}{{employeeId}}
  </h5> 
  <div class="d-flex justify-content-between my-3">
    <div>
      <button class="btn btn-secondary mr-3" (click)="showOverView()">Overview</button>
      <button class="btn btn-info" (click)="showContact()">Contact</button>
    </div>
    <button class="btn btn-default" (click)="gotoEmployees();">Back</button>
  </div>
  <router-outlet></router-outlet>

  <ul class="list-unstyled list-group col-6">
   <li class="list-group-item" *ngFor="let employee of employees"><span class="badge badge-info mr-2">{{employee.id}}</span>{{employee.name + "-"}} {{employee.age}}</li> 
  </ul>
  <div class="d-flex justify-content-between my-4">
    <button class="btn btn-secondary" (click)="goPrev();">Previous</button>
    <button class="btn btn-info" (click)="goNext();">Next</button>
  </div>
</div>
